// -----------------------------------------------------------------------------
// This file contains all styles used in each section of the website
// -----------------------------------------------------------------------------

.app__container {
  margin: 0 auto;
  max-width: map-get($breakpoints, 'desktop');
  padding: 0 20px;
}

.page__wrapper {
  transform: scale(1);
  transition: 0.5s ease all;

  &.shrinked {
    transform: scale(0.9);
  }
}
