.app__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 110px;

  .app__fw {
    width: 100%;

    img {
      float: right;
      margin-bottom: 20px;
    }
  }

  .app__hw {
    width: 50%;

    .app__social {
      a {
        img {
          display: inline-block;
          margin: 0 10px;
        }

        &:first-child {
          img {
            margin-left: 0;
          }
        }
      }
    }

    .app__copy {
      color: #ffffff;
      font-size: 13px;
      letter-spacing: 0.29px;
      margin: 0;
      text-align: right;
    }
  }
}

@media #{$medium} {
  .app__copyright {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .app__fw {
      width: 100%;

      img {
        display: block;
        float: none;
        margin: 0 auto 20px;
        width: 60px;
      }
    }

    .app__hw {
      .app__social {
        margin-bottom: 20px;
        text-align: center;
      }

      .app__copy {
        text-align: center;
      }
    }
  }
}
