.app__header {
  display: flex;
  padding: 85px 85px 85px 0;
  position: relative;
}

.app__scroll__message img {
  max-width: 20%;
  margin: 0 auto;
}

@media #{$large} {
  .app__header {
    padding: 85px 45px;
  }
}

@media #{$tablet} {
  .app__header {
    padding: 85px 15px;
  }
}

@media #{$smallLand} {
  .app__header {
    flex-direction: column;
    padding: 85px 0 40px;
  }
}
