.app__header {
  display: flex;
  padding: 85px 85px 85px 0;
  position: relative;
}

@media #{$large} {
  .app__header {
    padding: 85px 45px;
  }
}

@media #{$tablet} {
  .app__header {
    padding: 85px 15px;
  }
}

@media #{$small} {
  .app__header {
    flex-direction: column;
    padding: 85px 0 40px;
  }
}
