.app__hero {
  display: flex;
  height: calc(100vh - 170px);
  min-height: 600px;
  width: calc(100% - 120px);

  .app__hero__info {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 50px 60px;
    width: 50%;

    h3 {
      color: #393c57;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 0.49px;
      line-height: 28px;
      margin: 0;
    }

    p {
      color: #2c3248;
      font-size: 16px;
      letter-spacing: 0.39px;
      line-height: 29px;
      margin-bottom: 0;
    }
  }

  .app__hero__right {
    background: #fbc056;
    height: 100%;
    width: 50%;
  }
}

@media #{$large} {
  .app__hero {
    .app__hero__info {
      width: 70%;
    }

    .app__hero__right {
      width: 30%;
    }
  }
}

@media #{$tablet} {
  .app__hero {
    display: flex;
    height: calc(100vh - 120px);
    min-height: 600px;

    .app__hero__info {
      background: #fafafa;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 100px 50px 60px;
      width: 70%;
    }

    .app__hero__right {
      width: 30%;
    }
  }
}


@media #{$smallLand} {
  .app__hero {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 220px);
    justify-content: center;
    min-height: 400px;
    width: 100%;

    .app__hero__info {
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
      padding: 0;
      width: 80%;
    }

    .app__hero__right {
      height: 35%;
      width: 100%;
    }
  }
}
