.app__loading {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 999999;

  .app__loading__bg {
    background-color: #fbc056;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  .loading__logo {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    .outer {
      animation: rotation 6s infinite;
      animation-timing-function: cubic-bezier(0.78, -0.62, 0.73, 2.33);
      transform-origin: center center;
    }

    &:hover {
      .outline {
        transform: rotate(0);
      }
    }
  }
}

@keyframes rotation {
  0% { transform: rotateZ(0deg) scale(0.95); }

  50% { transform: rotateZ(180deg) scale(0.95); }

  100% { transform: rotateZ(360deg) scale(0.95); }
}
