.app__navigation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -60px;
  width: 120px;

  .app__nav {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    .app__action__menu {
      color: #000000;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: 1.29px;
      order: 1;
      transform: rotate(-90deg);

      span {
        display: inline-block;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    &:hover {
      .app__action__menu {
        span {
          &:nth-child(even) { transform: rotate(90deg); }

          &:nth-child(odd) { transform: rotate(90deg); }
        }
      }
    }

    .app__icon__menu {
      order: 2;
      transform: scale(0.7);
      transform-origin: center left;

      svg {
        .left { display: block; }

        .right { display: none; }
      }
    }
  }

  .app__scroll__message {
    animation: ScrollUpDown 1.5s alternate infinite;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    p {
      color: $brand-purple;
      font-size: 12px;
      font-weight: 900;
      letter-spacing: 0.34px;
      margin-bottom: 40px;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
  }
}

@media #{$small} {
  .app__navigation {
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;

    .app__logo {
      position: relative;
      z-index: 50;
    }

    .app__nav {
      .app__action__menu {
        display: none;
      }

      .app__icon__menu {
        align-items: center;
        background-color: $brand-orange;
        border-radius: 100px;
        display: flex;
        height: 45px;
        justify-content: center;
        position: relative;
        transform: none;
        width: 45px;
        z-index: 50;

        svg {
          stroke: #ffffff;
          transform: scale(0.65);
          transform-origin: center center;

          .left { display: none; }

          .right { display: block; }
        }
      }
    }

    .app__scroll__message {
      margin-bottom: 20px;
      position: absolute;
      right: 20px;
    }
  }
}
