.app__skills {
  @include brand-gradient();

  margin-bottom: 50px;
  padding: 50 0;
  width: 100%;

  .app__svg {
    display: block;
    margin: 0 auto;
    width: 100%;

    g {
      cursor: pointer;

      &:hover {
        position: relative;
        z-index: 100 !important;
      }

      circle {
        transition: 0.4s ease fill;
      }

      text {
        transition: 0.4s ease fill;
      }
    }
  }
}
