/**
 * Base typography style for copy text
 */

body {
  font-family: $base-font;
}

.app__section__title {
  color: #000000;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.68px;
  margin-left: 30px;
  padding: 0 20px;
  position: relative;
  z-index: 5;

  &--portfolio {
    &::after { background-color: $brand-light-yellow; }
  }

  &--projects {
    &::after { background-color: $extra-blue; }
  }

  &::after {
    bottom: 0;
    content: '';
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}


@media #{$medium} {
  .app__section__title {
    font-size: 20px;
    margin-left: 20px;
    padding: 0 10px;

    &::after {
      height: 6px;
    }
  }
}
